---
name: Commit workflow
on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup ruby (on macOS)
        if: matrix.os == 'macOS-latest'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6
      - name: Install Homebrew dependencies (on macOS)
        if: matrix.os == 'macOS-latest'
        run: |
          env HOMEBREW_NO_AUTO_UPDATE=1 brew install automake groff texinfo
          echo "/usr/local/opt/texinfo/bin" >> $GITHUB_PATH
      - name: Install apt dependencies (on ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: DEBIAN_FRONTEND=noninteractive sudo apt-get install -y autopoint gettext groff texinfo
      - name: asdf plugin test
        uses: asdf-vm/actions/plugin-test@v4
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          command: nano --version
